/java/Lucas/target/
/java/i.o-T.d/target/
/java/Iot-td/target/
/java/Lucas1/target/
/java/jdk-21/Biblioteca/nbproject/private/
/java/jdk-24/Heranca/target/
/java/jdk-24/Sobreposicao/target/
/java/jdk-24/Interfasse/target/
/java/jdk-24/Sobrecarga/target/
/java/jdk-24/Relacionamento/target/
/java/jdk-24/Biblioteca/nbproject/private/
/java/jdk-24/Biblioteca/build/
/java/jdk-24/Biblioteca/mysql-connector-j-9.3.0
/java/jdk-24/Concessionaria/nbproject/private/
/java/jdk-24/Concessionaria/build/
/java/jdk-24/Cinema/nbproject/private/
/java/jdk-24/PaoDaManha/nbproject/private/
/java/jdk-24/Cinema/build/
