/java/Lucas/target/
/java/i.o-T.d/target/
/java/Iot-td/target/
/java/Lucas1/target/
/java/jdk-24/Heranca/target/
/java/jdk-24/Sobreposicao/target/
/java/jdk-24/Interfasse/target/
/java/jdk-24/Sobrecarga/target/
/java/jdk-24/Relacionamento/target/
